*{
    margin:0;
    padding:0;
}
p{
    text-align: center;
    font-size: 30px;
}
nav, footer{
    background-color: royalblue;
    width: 100%;
    Height: 50px;
}
main{
    width: 100%;
    height: 900px;
}
.top-content, .middle-content, .bottom-content{
    width: 100%;
    height: 300px;
    display: flex;
}
.top-content-left{
    background-color: red;
    width: 30%;
    height:300px;
    float: left
}
.top-content-right{
    background-color:green;
    width: 70%;
    height:300px;
    float:right
}
.middle-content{
    background-color: sandybrown;
}
.bottom-content-left, .bottom-content-right{
    background-color: teal;
    width: 50%;
    height:300px;
    float: left
}
.bottom-content-right{
    background-color: slateblue;
    float: right;
}
footer{
    background-color: tomato;
}